#######################################################################################################################################
<poster>Dij-Entertainments</poster>
<fanart>http://s28.postimg.org/8gqj5lesd/beer_bottle.jpg</fanart>
#######################################################################################################################################


<dir>
<name>[COLOR aqua]Home Brew Wednesday[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Home/hbw.xml</link>
<thumbnail>http://s28.postimg.org/7d6etmu59/Home_Brew_Poster1.jpg</thumbnail>
</dir>

