#######################################################################################################################################
<poster>Dij-Entertainments</poster>
<fanart>http://s28.postimg.org/8gqj5lesd/beer_bottle.jpg</fanart>
#######################################################################################################################################


<dir>
<name>[COLOR aqua]Home Brew Wednesday[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Home/menu.xml</link>
<thumbnail>http://s18.postimg.org/k3roqy8m1/adobe_illustrator_cs6.png</thumbnail>
</dir>

