#######################################################################################################################################
<poster>Dij entertainments</poster>
<fanart>http://s17.postimg.org/ng9bnjzxb/artidv000030000077.jpg</fanart>
#######################################################################################################################################


<dir>
<name>[COLOR red]ufc[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Tv-Shows/Sport/mma/mma.xml</link>
<thumbnail>http://s27.postimg.org/jev1e2yir/mma_button.png</thumbnail>
</dir>

<dir>
<name>[COLOR red]WWE RAW[/COLOR] [COLOR red]REPLAYS[/COLOR]</name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Tv-Shows/Sport/WWE/WWE.xml</link>
<thumbnail>http://s15.postimg.org/dut4arwff/raw.png</thumbnail>
</dir>





