#######################################################################################################################################
<poster>Dij-Entertainments</poster>
<fanart>http://s24.postimg.org/n8l39bm3p/ultimate_marvel_avengers_comic_233102344.jpg</fanart>
#######################################################################################################################################


<dir>
<name>[COLOR aqua] Blade Trilogy 1998 - 2004 [/COLOR]</name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Movies/moviecoll/hero/blade.xml</link>
<thumbnail>http://s23.postimg.org/xs1hdb31n/Blade_Trilogy_DVD_Cover_by_Adam0000.jpg</thumbnail>
</dir>





















