#######################################################################################################################################
<poster>Dij-Entertainments</poster>
<fanart>http://s14.postimg.org/dr9oy8plt/GIMP_wallpaper_tutorial_by_GIMPtricks.jpg</fanart>
#######################################################################################################################################


<item>
<title>[COLOR aqua] How Too add own streams to KODI [/COLOR] </title>
<link>http://www.dailymotion.com/video/x2o31um_how-to-add-xml_tech</link>
<thumbnail>http://s9.postimg.org/4j5vq1p6n/images.jpg</thumbnail>
</item>


