#######################################################################################################################################
<poster>Dij-Entertainments</poster>
<fanart>http://s14.postimg.org/dr9oy8plt/GIMP_wallpaper_tutorial_by_GIMPtricks.jpg</fanart>
#######################################################################################################################################


<item>
<title>[COLOR aqua] How Too add own streams to KODI [/COLOR] </title>
<link>http://www.dailymotion.com/video/x2o31um_how-to-add-xml_tech</link>
<thumbnail>http://s9.postimg.org/4j5vq1p6n/images.jpg</thumbnail>
</item>

<dir>
<name>[COLOR aqua]Android[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Educational/Android.xml</link>
<thumbnail>http://s2.postimg.org/vbncxiejt/android_for_wallpaper_8_1.png</thumbnail>
</dir>

<dir>
<name>[COLOR aqua]JavaFX[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Educational/JavaFX.xml</link>
<thumbnail>http://s29.postimg.org/v42w4rh7b/Javafx_logo_color.png</thumbnail>
</dir>

<dir>
<name>[COLOR aqua]Node.js[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Educational/Node.xml</link>
<thumbnail>http://s22.postimg.org/6vvp06oi9/nodejs_0.png</thumbnail>
</dir>

<dir>
<name>[COLOR aqua]Photoshop 1[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Educational/photoshop.xml</link>
<thumbnail>http://s12.postimg.org/t6vyoyfb1/photoshop_cs5_mnemonic_png_550x544.png</thumbnail>
</dir>

<dir>
<name>[COLOR aqua]python[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Educational/python.xml</link>
<thumbnail>http://s27.postimg.org/m55sku72b/Python_logo_notext_svg.png</thumbnail>
</dir>

<dir>
<name>[COLOR aqua]wxPython[/COLOR] </name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Educational/wxPython.xml</link>
<thumbnail>http://s28.postimg.org/is5n6hkot/Wx_Python_logo.png</thumbnail>
</dir>