#######################################################################################################################################
<poster>Dij-Entertainments</poster>
<fanart>http://s1.postimg.org/sb7xwp1hb/the_avengers_movie_2012_1920x1080.jpg</fanart>
#######################################################################################################################################


<item>
<title>[COLOR aqua] How Too add own streams to KODI [/COLOR] </title>
<link>http://www.dailymotion.com/video/x2o31um_how-to-add-xml_tech</link>
<thumbnail>http://s10.postimg.org/9jxoy5mvd/how_too_banner.png</thumbnail>
</item>


