#######################################################################################################################################
<poster>Dij-Entertainments</poster>
<fanart>http://s12.postimg.org/9pn7yexl9/b84817537030abb890e9cd0106a65ed0.jpg</fanart>
#######################################################################################################################################


<dir>
<name>[COLOR aqua] Blade Trilogy 1998 - 2004 [/COLOR]</name>
<link>https://raw.github.com/djjohnnyb15/dij-entertainments/master/Directory/Movies/moviecoll/superhero/marvel/blade.xml
<thumbnail>http://s23.postimg.org/xs1hdb31n/Blade_Trilogy_DVD_Cover_by_Adam0000.jpg</thumbnail>
</dir>





















